In [23]:
import pandas as pd

In [24]:
df_cal = pd.read_csv("input.txt",header=None,names=["Coord"])

In [25]:
df_cal

                             Coord
0     2911threeninesdvxvheightwobm
1       3three16xsxhpnqmzmnine8one
2                seven5khtwo891hlb
3                sixthreeqpzjpn195
4                            jrnf3
..                             ...
995               7783twonineeight
996                      1fourfour
997      4fourztnthreeone8mqmdfour
998  fbfvqgvqfone5nctdcdpteighttwo
999            dhfbhone4fourlgzftg

[1000 rows x 1 columns]

In [26]:
digits = {"one":"1", "two":"2", "three":"3", "four":"4", "zero":"0",
          "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

In [27]:
digits_rev = {key[::-1]:val for key,val in digits.items()}
digits_rev

{'eno': '1',
 'owt': '2',
 'eerht': '3',
 'ruof': '4',
 'orez': '0',
 'evif': '5',
 'xis': '6',
 'neves': '7',
 'thgie': '8',
 'enin': '9'}

In [28]:
def preparse(line,digit_dict,bUseCharRepr = False):
    line_new = ""
    if bUseCharRepr:
        while len(line)>0:
            for dig in digit_dict:
                l = len(dig)
                if line[:l] == dig:
                    line=line.replace(dig,digit_dict[dig],1)
            line_new += line[0]
            line=line.replace(line[0],"",1)
    else:
        line_new = line
                
    return line_new

preparse("onetwothreefourfivenine",digits,True)

'123459'

In [29]:
def find_first_digit(line):
    for x in line:
        if x.isdigit():
            return int(x)
        
    return pd.NA

In [32]:
def calib_sing(line,bUseCharRepr=False):
    res = 0
    
    line_new = preparse(line,digits,bUseCharRepr)
    res += find_first_digit(line_new)*10
    
    line_new2 = preparse(line[::-1],digits_rev,bUseCharRepr)
    res += find_first_digit(line_new2)
    
    return res

calib_sing("aaa123456fff")

16

In [31]:
def mainGetResults(bUseCharRepr):
    res = 0
    for line in df_cal.Coord:    

        sing_res = calib_sing(line,bUseCharRepr)        
        res += sing_r
    
    return res

In [35]:
print("Outcome WITHOUT texual represenations",mainGetResults(False))
print("Outcome WITH texual represenations",mainGetResults(True))

Outcome WITHOUT texual represenations 54338
Outcome WITH texual represenations 53389